@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: #ca0015;
}
@media ( max-width: 768px ){
    .i-header{
        width: 100%;
        height: 50px;
        position: fixed;
    }
    .i-header-main{
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        z-index: 1;
    }
    .i-header-title{
        color: white;
        position : absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        font-size: 19px;
        font-family: 'Poppins', sans-serif;
    }
    .i-header-btn{
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 50px;
        width: 70px;
    }
    .i-header-btn:hover{
        cursor: pointer;
    }
    .i-header-btn-inner{
        width: 16px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .i-header-btn-inner span{
        position: absolute;
        background-color: #fff;
        height: 2px;
        left: 50%;
        transition: all 0.4s
        cubic-bezier(0.19, 1, 0.22, 1);
        width: 100%;
    }
    .i-header-btn-inner span:nth-child(2){
        top:50%;
    }
    .i-header-btn-inner span:nth-child(3){
        top:100%;
    }
    .i-header-nav::before{
        position: fixed;
        background-color: #018ccd;
        transition: width 0.8s
        cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        top : 0;
        right: 0;
        width: 0;
        height: 100%;
        content: "";
    }
    .i-header-nav{
        position: fixed;
        top: 0;
        left: 0;
        /* visibility: hidden; */
        /* opacity: 0; */
        transition: all 0.8s
        cubic-bezier(0.19, 1, 0.22, 1);
        padding: 92px 5% 5% 5%;
        width: 90%;
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
    }
    .i-header-nav::-webkit-scrollbar{
         display:none;
    }
    .i-header-nav-deco{
        /* position: fixed; */
        top: 0;
        left: 0%;
        width: 100%;
        /* overflow: hidden; */
    }
    .i-header-nav-deco::before{
        background-color: #fff001;
        opacity: 0.5;
        position: absolute;
        top: -20px;
        transform: skewX(45deg);
        transform-origin: top left;
        height: 100vh;
        content: "";
        left: -80%;
        width: 60%;
    }
    .i-header-nav-inner{
        position: relative;
        padding-bottom: 5%;
        width: 100%;
        min-height: 100%;
    }
    .i-header-nav-list{
        color: #000;
        font-size: 14vw;
        letter-spacing: -0.15em;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;

    }
    .i-header-nav-list > li{
        cursor: pointer;
        position: relative;
    }
    .i-header-nav-list li+li{
        margin-top: 4.8%;
    }
    .i-header-nav-link{
        color: #fff;
        font-size: 10vw;
        margin-top: 8%;
        font-weight: bolder;
    }
    .i-header-nav-link li+li {
        margin-top: 4.2%;
    }
    .i-header-nav-link > li > p{
        -webkit-text-stroke: 1px #fff;
        color: rgba(155, 155, 155, 0)
    }
    .i-header-nav-link > li > a{
        width: 100%;
        height: 100%;
    }
}
